{% extends 'base.html' %}

{% block content %}
<h2 class="animate-fade">Przygotujcie się</h2>
<div class="hero-container">
    <p class="results-msg">Zadanie rozpocznie się za chwilę. Proszę założyć zestawy EEG i patrzeć na ekran.</p>
    <div id="countdown" class="countdown animate-scale">5</div>
</div>

<script>
    let count = 5;
    const counter = document.getElementById('countdown');
    const timer = setInterval(() => {
        count--;
        counter.textContent = count;
        if (count <= 0) {
            clearInterval(timer);
            window.location.href = "{{ url_for('task') }}";
        }
    }, 1000);
</script>
{% endblock %}
